In [32]:
#1 i)
#add(3, 4) calls the function add() with parameter a=3 and b=4
#returns 3 + 4 = 7
def add (a, b):
	return a + b
result = add (3, 4)
print (result)

7

In [2]:
#ii)
# say_hi ("Alice") calls the function say_hi() with parameter name="Alice"
#it prints Hi Alice
def say_hi (name):
	print ("Hi", name)
say_hi ("Alice")

Hi Alice

In [3]:
#iii)
#the first greet() calls the function greet() which uses the default value "Guest" for name.
# greet ("John") calls the function greet() with parameter name="John"
# fist prints : Hello Guest | second prints : Hello John
def greet (name = "Guest"):
	print ("Hello", name)
greet ()
greet ("John")

Hello Guest
Hello John

In [4]:
#iv)
#func(1) -> a=1, uses defaults b=2, c=3
#func(1, 4) -> a=1, b=4, default c=3
#func(1, 4, 5) _> All arguments provided
def func (a, b = 2, c = 3):
	return a + b + c
print (func (1))
print (func (1, 4))
print (func (1, 4, 5))

6
8
10

In [6]:
#2
#returns square of n
def square(n):
  return n*n

#calculates area of square
def calculate_area(length,breadth):
  return length*breadth

print(square(5))
print(calculate_area(5,10))

25
50

In [11]:
#3
#yes using tuples,list we can return multipl values
#passing more arguments than it is defined to accept causes type error at run time

def multi_value(n):
  return (n*n,n*n*n)

print(multi_value(5))
#passing more arguments than it is defined to accept
multi_value(5,10)

(25, 125)

TypeError: multi_value() takes 1 positional argument but 2 were given

In [10]:
#PRINT MULTIPLE VALUES
print(multi_value(5))

(25, 125)

In [14]:
#4
#output of "hello world" .split() is list of ['hello', 'world'] with 2 elements
print("hello world".split())
#output of "hello world" .split(',') is a list of ['hello world'] with 1 element
#this happens because we give , as the criteria to split but there are no comma is "hello world"
#causing to return the entire thing as a single element in the list without splitting
print("hello world".split(','))
#here .split(',') is used to use ',' to split the string
print("hello,world,peace".split(','))

['hello', 'world']
['hello world']
['hello', 'world', 'peace']

In [20]:
#join() method takes all items in an iterable and joins them into one string.
#.join() accepts any iterable like list,but each element in it must be a string.
print("#".join(['a', 'b', 'c']))
print("-".join(['a', 'b', 'c']))

a#b#c
a-b-c

In [28]:
#5
print("Hello, my name is Rishabh"+" "+"My mom is my World")
print("Lab"+"s")
list1 = [1,2,3]
list2 = [4,5]
list1 += list2
# list1 += list2 gives a combined list of both
print(list1)
#append() adds whole list list2 as a single item in list1
list1.append(list2)
print(list1)

Hello, my name is Rishabh My mom is my World
Labs
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, [4, 5]]

In [29]:
#6
def fact(n):
  if n == 0:
    return 1
  else:
     return n * factorial(n - 1) # factorial is not defined , we have to use fact

fact (10)

NameError: name 'factorial' is not defined

In [3]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n - 1)
# returns factorial of 10
fact(10)

3628800

In [4]:
# gives recursive error as the function was not built to hangle float
# as recursive call never reaches a stopping base case (n == 0),
fact(4.5)

RecursionError: maximum recursion depth exceeded in comparison

In [5]:
# cause infinte loop as it never reaches n==0
fact(-1)

RecursionError: maximum recursion depth exceeded

In [6]:
# returns 1 as Base case is triggered
fact(0)

1

In [7]:
#7 i)
# global keyword modifies a variable defined global scope from within local scope
# as such var = 20 inside the function changes the var present in global scope
var = 10
def modify_var():
    global var
    var = 20
    print("Inside function:", var)
modify_var()
print("Outside function:", var)

Inside function: 20
Outside function: 20

In [8]:
#ii.)
# var = 20 is done in local scope as such has no influence on global var = 10
var = 10
def modify_var():
    var = 20
    print("Inside function:", var)
modify_var()
print("Outside function:", var)

Inside function: 20
Outside function: 10

In [19]:
#8
def count_python(s):
  count=0
  for i in s.split():
    if "python"in i:
      count+=1
  return count


s= "Python is a powerful language. I started learning PYTHON last year, and since then, I've used python3, python-requests, and PythonAnywhere for various projects. Although some people confuse Python with pYtHoNic or even CPython, the core of PYTHON programming remains elegant and efficient. Interestingly, I once named a variable python_snake just for fun!"

count_python(s.lower())

10

In [30]:
#9
def upper(s):
  if s.isupper():
    print(f"Already in Upper case: {s}")
  else:
    s1=s.upper()
    print(f"converted to Upper case: {s1}")
upper("hello")
upper("MASAI")

converted to Upper case: HELLO
Already in Upper case: MASAI

In [27]:
#10
def reverse_string(s):
  return s[::-1]

reverse_string("hello")

'olleh'